

<!-- RD Google Map -->
<div class="gm-wrap">
    <div class="rd-google-map">
        <div id="google-map" class="rd-google-map__model" data-zoom="11" data-x="9.016893"
             data-y="39.356234"></div>
        <ul class="rd-google-map__locations">
            <li data-x="9.016893" data-y="39.356234">
                Campo Comunale Santa Suja S.Sperate (CA)
            </li>
            <li data-x="9.133523" data-y="39.203158">
                Campo CONI Riccardo Santoru Cagliari
            </li>
        </ul>
    </div>
</div>
<!-- END RD Google Map -->


<div class="container relative text-center text-md-right">
    <div class="row">
        <div class="col-md-preffix-7 col-md-5 relative z-index-10">
            <h2 class="relative wow fadeInRight">Contatti Utili
            <span
                    class="devider devider-md devider-default devider-position-right devider-position-center-sm devider-position-bottom"></span>
            </h2>

            <address>
                <ul class="contact-info">
                    <li class="wow fadeInUp" data-wow-delay=".6s">
                        ASD ISOLARUN
                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".7s">
                        <a href="mailto:info@isolarun.com">info@isolarun.com</a>
                    </li>
                </ul>
            </address>

            <p class="wow fadeInUp text-small" data-wow-delay=".8s">
                CF: 92235060925<br>
                P.I.: 03682700921<br>
                Sede Sociale San Sperate (CA)<br>
                Campo d’allenamento: Centro Sportivo Santa Suja San Sperate (CA)<br>
                Campo Secondario: Campo CONI V. dello Sport Cagliari<br>
                Rappresentante legale: Avv. Roberta Pilia (avvpilia@tiscali.it)<br>
                IBAN: IT 25 D 03599 01899 050188533534<br>
                AFFILIATI <a href="http://www.fidal.it/">FIDAL</a> codice: ca253<br>
                AFFILIATI <a href="http://www.uisp.it/nazionale/">UISP</a> codice: Z010472<br>
                REGISTRO <a href="http://www.coni.it/it/">CONI UISP</a>: 270531<br>
                REGISTRO <a href="http://www.coni.it/it/">CONI FIDAL</a>: 284720<br>
            </p>
        </div>
    </div>
</div>

<section class="well-lg supporters">
    <div class="container">
        <h2 class="relative text-center text-md-left wow fadeInLeft">I nostri Sponsor
            <span class="devider devider-md devider-default devider-position-left devider-position-center-sm devider-position-bottom"></span>
        </h2>

        <div class="row row-offset-1 flow-offset-1 text-center text-md-left">
            <div class="col-sm-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <img src="images/sponsor/glade.jpg">
            </div>
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="http://www.birraichnusa.it" target="_blank"><img src="images/sponsor/ichnusa.jpg"/></a>
            </div>
        </div>
        <div class="row row-offset-1 flow-offset-1 text-center text-md-left">
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="http://www.diagnosticaradiologicadolianova.it/" target="_blank"><img src="images/sponsor/dolianova.jpg"/></a>
            </div>
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="https://www.centromedicoimulini.it/" target="_blank"><img src="images/sponsor/mulini.jpg"/></a>
            </div>
        </div>
        <div class="row row-offset-1 flow-offset-1 text-center text-md-left">
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="http://www.centropolimedicassemini.it/medicina-integrativa/" target="_blank"><img src="images/sponsor/polimedica.jpg"/></a>
            </div>
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="#" target="_blank"><img src="images/sponsor/roberta_pilla.png"/></a>
            </div>
        </div>
        <div class="row row-offset-1 flow-offset-1 text-center text-md-left">
            <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="#" target="_blank"><img src="images/sponsor/loddo.jpeg"/></a>
            </div>
             <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="#" target="_blank"><img src="images/sponsor/mura_giorgio.jpeg"/></a>
             </div>
        </div>
        <div class="row row-offset-1 flow-offset-1 text-center text-md-left">
             <div class="col-sm-6 col-md-6 wow fadeInUp pointer" data-wow-delay=".7s">
                <a href="http://www.fagnaninutrition.it/" target="_blank"><img src="images/sponsor/fagnani_nutrition.png"/></a>
             </div>
        </div>
    </div>
</section>