<!-- Site Title -->
<title>{{ page.title }}</title>
<meta name="format-detection" content="telephone=no"/>
<meta charset="utf-8" />
<meta name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<!-- Stylesheets -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CRoboto%7CLato:100' rel='stylesheet'
      type='text/css'>

<link rel="stylesheet" href="css/style.css">

<!--[if lt IE 10]>
<script src="js/html5shiv.min.js"></script>
<![endif]-->