<div class="rd-navbar-wrap">
    <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
            <!-- RD Navbar Panel -->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle -->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                <!-- END RD Navbar Toggle -->
                <!-- RD Navbar Brand -->
                <div class="rd-navbar-brand">
                    <a href="/"><img src="images/logo.png" style="height: 75px;"/></a>
                </div>
                <!-- END RD Navbar Brand -->
            </div>
            <!-- END RD Navbar Panel -->

            <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav -->
                <ul class="rd-navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Chi Siamo</a>
                        <!-- RD Navbar Dropdown -->
                        <ul class="rd-navbar-dropdown">
                            <li>
                                <a href="/chi-siamo">ASD Isolarun</a>
                            </li>
                            <li>
                                <a href="/organigramma">Organigramma</a>

                            </li>
                        </ul>
                        <!-- END RD Navbar Dropdown -->
                    </li>
                    <li>
                        <a href="/diventa-isolarunner">Diventa Isolarunner</a>
                        <ul class="rd-navbar-dropdown">
                            <li>
                                <a href="/iscrizioni-bambini-ragazzi">Iscrizioni Bambini&Ragazzi</a>
                            </li>
                            <li>
                                <a href="/iscrizioni-master">Iscrizioni Master</a>

                            </li>
                        </ul>
                    </li>
                    <!--<li>
                        <a href="#">News&Eventi</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                    <li>
                        <a href="#">Contatti</a>
                    </li>-->
                    <li class="rd-navbar-inline-list">
                        <ul>
                            <li><a href="#" class="icon icon-xs icon-primary icon-round fa fa-facebook"></a></li>
                            <li><a href="#" class="icon icon-xs icon-primary icon-round fa fa-instagram"></a></li>
                        </ul>
                    </li>
                </ul>
                <!-- END RD Navbar Nav -->
            </div>
            <ul class="inline-list">
                <li><a href="https://www.facebook.com/isolarun" target="_blank" class="icon icon-xs icon-primary icon-round fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/isolarun/" target="_blank" class="icon icon-xs icon-primary icon-round fa-instagram"></a></li>
            </ul>
        </div>
    </nav>
</div>